.Page-logo {
  height: 40vmin;
}

.Page-header {
  background-color: rgb(234,193,0);
  min-height: 80vh;  
  align-items: center;
  justify-content: center;  
  color: black;
}

.Footer {
  flex-shrink: none;
}